body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/assets/images/sky.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.weatherimage {
    padding: 5px;
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;

}

.weatherlocation {
  height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
}

.weathertemperature {
  height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.weatherstatus {
  height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
}

.fivedayforecast {
  height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
}