body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
   background-color: #222422;
}

.bg {
  /* The image used */
  background-image: url("/assets/images/city.jpg");

  /* Full height */
  height: 60%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

}

.jumbotron {
  /*background-image: url("/assets/images/sky.jpg");*/
  background-color: #323544;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
 
}

.container-fluid {
background: #323544;
display: table;
table-layout: fixed;
width: 100%;
overflow: hidden;
border-radius: 20px;
margin-top: 20px;
margin-bottom: 50px;
padding-right: 0px;
padding-left: 0px;
}

.frontbackground {
    background-image: url("/assets/images/rain.jpg");

}

.textanimation {
    
vertical-align: top;
box-sizing: border-box;
padding: 0px;

}

.rowsettings {
    padding: 10px;
    /*background-color: #67686d;*/
}

.rowsettingsdark {
    padding: 10px; 
    /*background-color: #262936; */
}


.table td, .table th {
    padding: 20px;
    vertical-align: top;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    color: white;
    
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px;
    border-top: 0px;
    padding: 20px;
    text-align: center;
}

.weatherimage {
    padding: 5px;
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;

}

.weatherlocation {
  

}

.weathertemperature {
 
    cursor: pointer;
}

.h_two_weathertemperature {
    text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
 
}

.h_two_weatherlocation {
     text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
}

.city {
     text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
}

.temp {
     text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
}


.weatherheading {
    
    text-decoration: underline;
    font-weight: 900;
}

.fivedayforecast {
  height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
}

.searchround {
border-radius: 1rem;
  
}

.table {
   margin: auto;
   width: 90% !important; 
   
}

.mainimage {
    max-width: 20%;
  height: auto;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form {
  width: 500px;
  background: white;
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 12px;
  background: #888;
  color: white;
}
form label {
  color: #777;
  font-size: 11px;
  margin-bottom: 2px;
  display: block;
}




.intro, .title { text-align: center }

*, ::after, ::before { box-sizing: border-box } 

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}




.animation-type, .title h1 {
  font-size: 2.4rem;
  font-weight: 700
}

a { text-decoration: none }


.intro { margin: 4em auto }
@media only screen and (min-width:768px) {


.intro { margin: 5em auto }
}
@media only screen and (min-width:1170px) {


.intro { margin: 6em auto }
}

.ah-headline {
  font-size: 2rem;
  line-height: 1.2
}
@media only screen and (min-width:768px) {

.ah-headline {
  font-size: 2rem;
  font-weight: 300
}
}
@media only screen and (min-width:1170px) {

.ah-headline { font-size: 2rem }
}


.weathericon img{
font-size: 60px;
}


