/* CSS FILE INFORMATION*/

/* Google Fonts Link*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic body settings*/

body {
    font-family: 'Roboto', sans-serif;
  padding-top: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  
   background-image: url("../images/city.jpg");
   background-size: 80%;
}

.bg {
  
  /* Full height */
  height: 60%; 
  /* Center and scale the image */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;

}


.jumbotron {
  
  
  background-size: cover;
  border-radius: 0px;

  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
 
}

.container-fluid {
background-image: url("../images/rain.jpg");
filter: brightness(150%);
display: table;
table-layout: fixed;
width: 100%;
overflow: hidden;
border-radius: 0px;
margin-top: 20px;
margin-bottom: 0px;
padding-right: 0px;
padding-left: 0px;

}

/* Background for jumbotron */
.frontbackground {
    background-image: url("../images/rain.jpg");

}

.textanimation {
    
vertical-align: top;
box-sizing: border-box;
padding: 0px;

}


.table td, .table th {
    padding: 20px;
    vertical-align: top;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    color: #000000;
    
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px;
    border-top: 0px;
    padding: 20px;
    text-align: center;
}

.weatherimage {
    padding: 5px;
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;

}


.weathertemperature {
 
    cursor: pointer;
}

.h_two_weathertemperature {
    text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
 
}

.h_two_weatherlocation {
     text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
}

.city {
     text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
}

.temp {
     text-shadow: 0 0 3px #FF0000;
    font-size: 60px;
}


.weatherheading {
    
    text-decoration: underline;
    font-weight: 900;
}

.fivedayforecast {
  height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
}

.searchround {
border-radius: 1rem;
  
}

.table {
   margin: auto;
   width: 90% !important; 
   
}

.mainimage {
    max-width: 20%;
  height: auto;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form {
  width: 500px;
  
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 12px;
  background: #888;
  color: white;
}
form label {
    text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
}


.intro, .title { text-align: center }

*, ::after, ::before { box-sizing: border-box } 




.animation-type, .title h1 {
  font-size: 2.4rem;
  font-weight: 700
}

a { text-decoration: none }


.intro { margin: 4em auto }
@media only screen and (min-width:768px) {


.intro { margin: 5em auto }
}
@media only screen and (min-width:1170px) {


.intro { margin: 6em auto }
}

.ah-headline {
  font-size: 2rem;
  line-height: 1.2
}
@media only screen and (min-width:768px) {

.ah-headline {
  font-size: 2rem;
  font-weight: 300
}
}
@media only screen and (min-width:1170px) {

.ah-headline { font-size: 2rem }
}


.weathericon img{
font-size: 60px;
} 

.textcolor{
    
    color: rgba(255,255,255,.5)!important;
}

.htmllilnks {
    color: #000000
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}